<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCxVX5ij97iKxUFBj5pCbxbH6X_agi6BY0</string>
	<key>GCM_SENDER_ID</key>
	<string>489277171730</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bloodconnectFrontend</string>
	<key>PROJECT_ID</key>
	<string>bloodconnect-frontend</string>
	<key>STORAGE_BUCKET</key>
	<string>bloodconnect-frontend.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:489277171730:ios:2c5a22c309fbc4056e50cb</string>
</dict>
</plist>